.button {
    background: #6fa6ff;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    transition: all 0.2s;
    cursor: pointer;
}

.button:hover {
    background: rgb(66, 126, 224);
}