.wrapper {
    height: 100vh;
    display: flex;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    height: 40px;
    background: #efefef;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.main {
  flex: 1;
  padding-left: 10px;
  margin: 10px 0;
  overflow: hidden;
}

.footer {
    height: 100px;
    background: #131313;
    padding: 10px;
}