.card {
    position: relative;
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 10px;
    height: min-content;
    cursor: pointer;
}

.card + .card {
    margin-top: 20px;
}

.cardInfo {
    display: flex;
    align-items: flex-start;
    pointer-events: none;
}

.status {
    padding: 4px;
    background: #71e19e;
    border-radius: 4px;
    margin-right: 10px;
    pointer-events: all;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.titles {
    flex: 1;
}

.title {
    font-size: 16px;
    line-height: 100%;
    margin: 0;
    cursor: text;
    width: max-content;
    pointer-events: all;
}

.subject {
    font-size: 14px;
    margin: 0;
    cursor: text;
    width: max-content;
    pointer-events: all;
}